/* undoing what was once done */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
  }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

ol, ul {
    list-style: none;
  }

blockquote, q {
    quotes: none;
  }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }

table {
    border-collapse: collapse;
      spacing: 0;
  }

img, iframe {
    vertical-align: bottom;
    max-width: 100%;
  }

input, textarea, select {
    font: inherit;
  }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  // color variables
  $black: #0A0010;
  $blue: #1071F9;
  $red: #E41A48;
  $white: #F2EBED;
  $pink: #FF4DA5;
  $yellow: #FFC52F;

  // font weight variables
  $wt-thin: 100;
  $wt-extralight: 200;
  $wt-light: 300;
  $wt-regular: 400;
  $wt-medium: 500;
  $wt-semi: 600;
  $wt-bold: 700;
  $wt-xbold: 800;
  $wt-heavy: 900;
  $wt-black: 1000;

@font-face {
  font-family: "Cirka";
  src: url('assets/fonts/cirka/Cirka-Bold.otf') format('opentype');
  font-weight: $wt-bold;
  font-style: normal;
}

@font-face {
  font-family: "Cirka";
  src: url('/assets/fonts/cirka/Cirka-Light.otf') format('opentype');
  font-weight: $wt-light;
  font-style: normal;
}

@font-face {
    font-family: "Recursive";
    src: url('/assets/fonts/recursive/Recursive_VF_1.084.woff2') format('woff2');
}

@font-face {
    font-family: "Manrope";
    src: url('/assets/fonts/manrope/Manrope[wght].woff2') format('woff2'),
         url('/assets/fonts/manrope/Manrope[wght].ttf') format('truetype');
}

h1 {
    font: {
      family: "Cirka";
      size: 20rem;
      weight: $wt-bold;
    }
    letter-spacing: -0.06em;
    color: $black;
    line-height: .8;
}

h2 {
  font: {
    family: "Cirka";
    size: 6rem;
    weight: $wt-light;
  }
  line-height: 1;
  letter-spacing: -0.03em;
  color: $black;
  text-transform: uppercase;
}

h3 {
    font: {
        family: "Manrope";
        size: 3rem;
        variation-settings: "wght" $wt-thin;
    }
    line-height: 1;
    color: $yellow;
}

h4 {
  font: {
    family: "Manrope";
    size: 6rem;
    variation-settings: "wght" $wt-medium;
  }
  line-height: 1;
  color: $black;
}

h5 {
  font: {
    family: "Recursive";
    size: 3rem;
    variation-settings: "wght" 350, "slnt" -15, "MONO" 0, "CASL" 1, "CRSV" 1;
  }
  line-height: 1;
  color: $black;
}

p {
  font: {
    family: "Manrope";
    size: 2.5rem;
    variation-settings: "wght" $wt-regular;
  }
  color: $black;
  line-height: 1.5;
  margin-bottom: 2rem;

  strong {
    font-variation-settings: "wght" $wt-bold;
  }
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  border-radius: none;
}

html {
  font: {
    family: "Manrope";
    size: 8px;
  }
  line-height: 1.5;

  scroll-behavior: smooth;
}

body {
    background: $white;
    padding: 4rem;
    color: $black;
}

nav {
    background: $pink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid $black;
    border-radius: 1rem;
    position: fixed;
    z-index: 10;
    left: 4rem;
    right: 4rem;
    top: 4rem;
    height: 7rem;
    box-sizing: border-box;

    .nav-button {
        border: 1px solid $black;
        border-radius: .5rem;
        padding: 1.75rem 2rem;
        font: {
            family: "Recursive";
            size: 2rem;
            variation-settings: "wght" $wt-regular, "slnt" -15, "MONO" 1, "CASL" 1, "CRSV" 1;
        }
        line-height: 0.8;
        color: $black;
        letter-spacing: -0.5px;
        box-sizing: content-box;
        margin: 1rem;

        transition: .2s;

        &:hover {
          background: $black;
          color: $white;
        }
    }

    .nav-button.friend {
        background: $black;
        box-sizing: border-box;
        padding: .75rem;
    }
}

main {

  section {
    border-radius: 1rem;
    margin-bottom: 4rem;
    border: 1px solid $black;
    border-radius: 1rem;
    position: relative;

    div.offsetfix {
      position: absolute;
      z-index: -10;
      top: -13rem;
    }

    div.section-title {
      padding: 0 2rem 1rem 2rem;
      border: 1px solid $black;
      border-radius: 1rem;
      display: inline-block;
      margin: 4rem 0 3rem 4rem;
    }

    div.contents {
      padding: 0 4rem 4rem 4rem;
    }

    &.about {
      @extend section;
      border: 1px solid $red;
      color: $red;

      div.section-title {
        border-color: $red;

        h2 {
          color: $red;
        }
      }
    }

    &.contact {
      @extend section;
      border: 1px solid $blue;
      color: $blue;

      div.section-title {
        border-color: $blue;

        h2 {
          color: $blue;
        }
      }
    }
  }

  section.hero {
    margin-top: 9rem;
    width: 100%;
    height: calc(100VH - 17rem);
    background: center / cover url('/assets/images/hero_grid.svg'), $black;
    box-shadow: inset 0px 0px 0px 3rem $black;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    div.hero-wrapper {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 0 auto;
    }

      h1 {
        position: relative;
        z-index: 0;
        background: transparent;
        font-size: clamp(88px, calc(5.5rem + ((1vw - 3.6px) * 11.954)), 504px);
        color: $black;
        display: inline-block;
        text-align: center;
      }

      h1:before {
        content: attr(title);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        -webkit-text-stroke: 2px $yellow;
      }

      h1:after {
        content: attr(title);
        position: absolute;
        -webkit-text-stroke: clamp(8px, calc(0.5rem + ((1vw - 3.6px) * 1.8391)), 72px) $black;
        z-index: -2;
        top: 0;
        left: 0;
      }

      h3 {
        position: relative;
        z-index: 0;
        font-size: clamp(20px, calc(1.25rem + ((1vw - 3.6px) * 1.4943)), 72px);
        background: transparent;
        margin-top: clamp(20px, calc(1.25rem + ((1vw - 3.6px) * 1.4943)), 72px);
        display: inline-block;
        text-align: center;
      }

      h3:after {
        content: attr(title);
        position: absolute;
        z-index: -2;
        left: 0;
        top: 0;
        -webkit-text-stroke: 2rem $black;
      }
  }

  section.projects {
    article {
      padding: 4rem;
      border-top: 1px solid $black;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      div.project-name {
        cursor: pointer;

        h5 {
          margin-top: 1rem;
        }
      }

      .active {
        background: transparent;
      }

      div.project-body {
        border-radius: 1rem;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background: $black;
        margin-top: 2rem;

        max-height: 0;
        transition: max-height 0.3s ease-in-out;
      }
    }
  }

  section.about {
    div.contents {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;

      div.headshot-wrapper {
        border: 1px solid $black;
        border-radius: 1rem;
        overflow: hidden;
        flex: 1 1 400px;
        position: relative;
        min-height: 300px;

        img {
          object-fit: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
        }
      }

      div.bio {
        flex: 1 1 400px;

        p:first-child {
          margin-top: 1rem;
        }
      }
    }
  }

  section.contact {
    a {
      color: $blue;
    }

    div.form-container {
      border: 1px solid $black;
      border-radius: 1rem;
      overflow: hidden;

      form {
        display: grid;
        grid-template-columns: .25fr 1fr;
        position: relative;

        label {
          background: $blue;
          border-bottom: 1px solid $black;
          border-right: 1px solid $black;
          font: {
            family: "Recursive";
            variation-settings: "wght" $wt-bold, "slnt" -15, "MONO" 0, "CASL" 1, "CRSV" 1;
            size: 2.5rem;
          }
          color: $white;
          line-height: 1;
          padding: 2rem;
        }

        label:nth-child(5) {
          border-bottom: none;
        }

        input:focus,
        textarea:focus {
          outline: none;
          box-shadow: inset 0 0 0 2px $blue;
        }

        input#name:focus {
          border-top-right-radius: .8rem;
        }

        textarea:focus {
          border-bottom-right-radius: 1rem;
        }

        input,
        textarea {
          background: transparent;
          color: $black;
          border-style: none;
          border-bottom: 1px solid $black;
          padding: 12px;
          box-sizing: border-box;

          font: {
            family: "Manrope";
            size: 2.5rem;
            line-height: 1.5;
          }
        }

        textarea#message {
          height: 216px;
          resize: none;
          margin: 0 0 -1px 0;
        }

        input#submit {
          background-color: $blue;
          border-radius: 1rem;
          padding: 2rem;
          position: absolute;
          bottom: 2rem;
          right: 2rem;
        }
      }
    }
  }
}

.embla {
  overflow: hidden;
  position: relative;
}

.embla__container {
  display: flex;
  max-height: calc(100VH - 20rem);
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  color: $white;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.embla__button {
  width: 48px;
  height: 48px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.embla__button--next {
  bottom: 2rem;
  right: 2rem;
}

.embla__button--prev {
  bottom: 2rem;
  right: 10rem;
}

// media queries
@media all and (max-width: 810px) {

  h2 {
    font-size: 4.5rem;
  }

  h4 {
    font-size: 4rem;
  }

  h5 {
    font-size: 2rem;
    line-height: 1.2;
  }

  p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  nav {
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
    height: auto;
    top: 2rem;
    left: 2rem;
    right: 2rem;

    .nav-button {
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.friend {
        padding: 0.5rem;
      }

      &:nth-child(n+2) {
        flex: 1;
        align-self: stretch;
      }
    }
  }

  body {
    padding: 2rem;

    main {
      section {
        margin-bottom: 2rem;
        position: relative;

        div.offsetfix {
          position: absolute;
          z-index: -10;
          top: -11rem;

          &.top {
            top: -11rem;
          }
        }

        div.section-title {
          margin: 1em 0 1rem 1rem;
          padding: 0 1rem .75rem 1rem;
        }

        div.contents {
          padding: 0 1.5rem 1.5rem 1.5rem;
        }
      }

      section.hero {
        margin-top: 8.5rem;
        height: calc(100VH - 12rem);
      }

      section.projects {
        article {
          padding: 1.5rem;

          div.project-name h5 {
            margin-top: .75rem;
          }

          div.project-body {
            margin-top: 1rem;
          }
        }

        button.embla__button {
          bottom: .5rem;

          img {
            width: 40px;
            height: 40px;
          }

          &.embla__button--prev {
            right: 6.5rem;
          }

          &.embla__button--next {
            right: .5rem;
          }
        }
      }

      section.about {
        div.contents {
          gap: 1rem;

          div.bio {
            p:first-child {
              margin-top: 0;
            }

            p:last-child {
              margin-bottom: 0rem;
            }
          }
        }
      }

      section.contact {
        div.form-container {
          border: none;

          form {
            grid-template-columns: 1fr;
            border-radius: 0;

            label {
              font-size: 2rem;
              padding: 1rem;
              border: 1px solid $black;
              border-bottom: none;
              border-top-left-radius: 1rem;
              border-top-right-radius: 1rem;
            }

            input,
            textarea {
              font-size: 2rem;
              padding: 1rem;
              border: 1px solid $black;
              margin-bottom: 1.5rem;
              border-bottom-left-radius: 1rem;
              border-bottom-right-radius: 1rem;
            }

            textarea#message {
              margin-bottom: 0;
            }

            input#submit {
              padding: 1.25rem;
              bottom: 1rem;
              right: 1rem;
            }
          }
        }
      }
    }
  }
}
